[submodule "external/aria2mano"]
	path = external/aria2mano
	url = git@github.com:KevinyWu/aria2mano.git
[submodule "external/MV-SAM3D"]
	path = external/MV-SAM3D
	url = git@github.com:KevinyWu-Archive/MV-SAM3D.git
